---
title: Blog Archive
keywords: news, blog, updates, release notes, announcements
permalink: blog_archive/
toc: false
---
<div class="home">
    <div class="post-list">
        <section>
            {% for post in site.posts %}
                {% assign year = post.date | date: '%Y' %}
                {% assign nyear = post.next.date | date: '%Y' %}
                {% if post.next == null %}
                    <h3>{{ year }}</h3>
                    <ul>
                {% elsif year != nyear %}
                    </ul>
                    <h3>{{ year }}</h3>
                    <ul>
                {% endif %}
                <li><time>{{ post.date | date:"%d %b" }}</time><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        </section>
        <hr/>
    </div>
</div>
